<div layout:fragment="retirementList">
	<tr id="each-body" th:each="item: ${findRetirementEmployeeList}" 
		th:classappend="${item.retirement} ?  retirement-color : '' ">							
		<td align="center" th:text="${item.employee_id}"></td>
		<td align="center" th:text="${item.employee_name}"></td>
		<td align="center" th:text="${item.district_in_charge}"></td>
		<th:block th:if="${item.sales > 100}">
			<td align="center" th:text=" '&yen;' + ${#numbers.formatInteger(item.sales, 3, 'COMMA')	}"></td>
		</th:block>
		<th:block th:unless="${item.sales > 100}">
			<td align="center" th:text=" '&yen;' + ${item.sales}"></td>
		</th:block>
		<td align="center" th:text="${item.customers}"></td>
		<td align="center" th:text="${item.updated_at}"></td>
		<th:block layout:replace="~{layout/members/otherbtn::otherbtn}"></th:block>
	</tr>
</div>
