@charset "UTF-8";

body {
  background-color: #f8fbf8 !important
}

a {
	color: black;
}

.error {
	color: #ff0000;
	font-weight: vold;
	text-align: center;
}

.container.page {
  background-color: #ffff;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  max-width: 880px;
  width: 100%;
}

.heading {
  margin-top: 20px;
  text-align: center;
}

.regist-table {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  padding: 24px;
  max-width: 880px;
  width: 100%;
}

.regist-table tr td {
  font-weight: bold;
}

.regist-content {
  margin-top: 50px;
}

.regist-btn {
  text-align: end;
  margin-top: 12px;
}

.regist-btn .btn {
  width: 100px;
}

.radio-margin {
	margin-left: 20px;
}

.col-6.form-check-inline.ms-3 {
    margin-left: 15px;
}

#search-body {
    padding: 30px;
}

.s-size {
	font-size: 25px;
	position: relative;
    left: 8px
}

.col-sm-3.date-input {
    position: relative;
    left: 8px
}

.gender-radio.form-check-inline {
    position: relative;
    left: 105px;
}

.gender-radio.col-6.form-check-inline {
    left: initial;
}

.search-btn {
    text-align: center;
    margin-bottom: 20px;
}

.search-btn input:first-child {
	width: 74px;
}

.fw-bold {
	font-weight: bold;
}

.sidebar {
  height: 80vh;
  margin-left: 10px;
  margin-right: 20px;
}

.fs-2 {
	font-size: 30px;
}

ul.navbar-nav li a {
	color: #fff;
	font-size: 18px;
}

ul.navbar-nav li a:hover {
	color: #ffff00;
}

.search-form .form-check {
	margin-left: 10px;
}

.retirement-color {
	background: #696969 !important;
}

.retirement-btn-color {
	background: #696969;
	color: gray;
	border-color: initial !important;
}
