<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>部門別 / 社員編集</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container page shadow bg-body rounded">
	    <h1 class="heading mb-3">部門別 / 社員編集</h1>
	    <div class="border border-3"></div>
	      <div class="regist-content">
	      	<!-- 氏名 -->
            <div class="row pt-2 pb-2 regist-table">
              <div class="col-4"  th:text="#{employee_name}"></div>
              <div class="col-6">
              	<div th:text="${employee_name}"></div>
              </div>
            </div>
	            
	        <form method="post"  th:object="${membersEditForm}">
	          <div class="regist-table"> 
	                   
	            <!-- IDをhiddenで送信 -->
	            <input type="hidden" th:field="*{id}"/>
	            <input type="hidden" th:field="*{employee_id}" />
	            <input type="hidden" th:field="*{department_id}" />
	            <!-- 担当地区 -->
	            <div class="row pt-2 pb-2 form-group">
	              <div class="col-4"  th:text="#{district_in_charge}"></div>
	              <div class="col-6">
	              	<input type="text"class="form-control" th:field="*{district_in_charge}" th:errorclass="is-invalid"/>
	              	<div class="invalid-feedback" th:errors="*{district_in_charge}"></div>
	              </div>
	            </div>
	            
	            <!-- 売上 -->
	            <div class="row pt-2 pb-2 form-group">
	              <div class="col-4"  th:text="#{sales}"></div>
	              <div class="col-6">
	              	<input type="text"class="form-control" th:field="*{sales}" th:errorclass="is-invalid"/>
	              	<div class="invalid-feedback" th:errors="*{sales}"></div>
	              </div>
	            </div>
	            
	            <!-- 保有顧客数 -->
	            <div class="row pt-2 pb-2 form-group">
	              <div class="col-4" th:text="#{customers}"></div>
	              <div class="col-6">
	              	<input type="text" class="form-control" th:field="*{customers}" th:errorclass="is-invalid"/>
		            <div class="invalid-feedback" th:errors="*{customers}"></div>
	              </div>
	            </div>
	            
	            <!-- 更新日時 -->
              	<input type="hidden" name= "updated_at" 
              		th:value="${#dates.format(#dates.createNow(), 'yyyy/MM/dd')}"/>
              		 
	            <div class="regist-btn mt-5">
	          	  <input type="submit" value="更新"  th:href="@{/members/{eId}/edit(dId=*{department_id}, eId=*{employee_id})}"
	          		   class="btn btn-primary" name="update"/>
	            </div>
	          </div>
	        </form>
	      </div>
	    </div>
	</div>
</body>
</html>