<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
<script th:src="@{/js/membersList.js}" defer></script>
<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" defer></script>
<title>部門別 / 社員一覧</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid mt-5 mb-5">
			<h1 class="mb-3" th:text=${getName}></h1>
			<div class="border border-3"></div>
			<form class="search-form mt-4">
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" th:checked="${employeeJoinMembersList != null}" id="all">
				  <label class="form-check-label">全社員</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" th:checked="${findEnrollmentEmployeeList != null}" id="enrollment">
				  <label class="form-check-label">在籍社員</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" th:checked="${findRetirementEmployeeList != null}" id="retirement">
				  <label class="form-check-label" for="inlineRadio3">退職社員</label>
				</div>
			</form>
			<table class="table table-bordered table-hover mt-4" id="members-list-table">
				<thead class="thead-light thead-color" align="center">
					<tr>
						<th class="th-width">社員番号</th>
						<th class="th-width">氏名</th>
						<th class="th-width">担当地域</th>
						<th class="th-width">売上</th>
						<th class="th-width">保有顧客数</th>
						<th class="th-width">更新日時</th>
						<th class="th-width">&nbsp;</th>
						<th class="th-width">&nbsp;</th>
					</tr>
				</thead>
				<th:body th:if="employeeJoinMembersList != null">
					<th:body layout:replace="~{layout/members/allList::allList}"></th:body>		
				</th:body>
				<th:body th:if="findEnrollmentEmployeeList != null">
					<th:body layout:replace="~{layout/members/enrollmentList::enrollmentList}"></th:body>		
				</th:body>
				<th:body th:if="findRetirementEmployeeList != null">
					<th:body layout:replace="~{layout/members/retirementList::retirementList}"></th:body>		
				</th:body>
			</table>
		<!-- 新規複数登録 -->
		<div class="border-top mt-3">
			<h3 class="mt-3 mb-3">新規登録</h3>
			<button id="generate-row" class="btn btn-success">行新規</button>
			<button id="clone-row" class="btn btn-info">行複製</button>
			<button  id="regist" class="btn btn-primary" >登録</button>
			<form id="form" name="form" method="post" th:action="@{/members/{id}/registration(id=${department_id})}" th:object="${membersForm}">
				<table class="table" id="r-table">
					<thead class="bg-color text-center">
						<tr>
							<th class="th-width">氏名</th>
							<th class="th-width">性別</th>
							<th class="th-width">電話番号</th>
							<th class="th-width">メールアドレス</th>
							<th class="th-width">担当地域</th>
							<th class="th-width">入社年月日</th>
							<th class="th-width">&nbsp;</th>
						</tr>
					</thead>
					<tbody id="form-body">
						<tr id="form-row">
							<!-- 氏名 -->
							<td>
								<input type="text" class="form-control" th:field="*{employee_name}" 
									th:errorclass="is-invalid" required/>
	              				<div class="invalid-feedback" th:errors="*{employee_name}"></div>
							</td>
							
							<!-- 性別 -->
							<td>
								<select class="form-control" th:field="*{gender}">
									<option th:each="gender : ${genderMap}" th:value="${gender.value}"
										 th:inline="text" th:selected="${gender.value == value}">
										[[${gender.key}]]
									</option>
								</select>
							</td>
							
							<!-- 電話番号 -->
							<td>
								<input type="text"class="form-control" th:field="*{employee_phone}"
									 th:errorclass="is-invalid" required/>
	              				<div class="invalid-feedback" th:errors="*{employee_phone}"></div>
							</td>
							
							<!-- メールアドレス -->
							<td>
								<input type="text" class="form-control" th:field="*{employee_email}"
									 th:errorclass="is-invalid" required/>
		            			<div class="invalid-feedback" th:errors="*{employee_email}"></div>
							</td>
							
							<!-- 担当地域 -->
							<td>
								<input type="text" class="form-control" th:field="*{district_in_charge}"
									 th:errorclass="is-invalid" required/>
		            			<div class="invalid-feedback" th:errors="*{district_in_charge}"></div>
							</td>
							
							<!-- 入社年月日 -->
							<td>
								<input type="text"class="form-control" th:field="*{date_of_entry}"
				              		 th:errorclass="is-invalid" placeholder="yyyy/MM/dd" required/>
					            <div class="invalid-feedback" th:errors="*{date_of_entry}"></div>
							</td>
							
							<td style="display: none;">
								<!-- 値をhiddenで送信 -->
								
								<!-- 課番号 -->
								<input type="hidden" th:name="department_id"
									th:value="${department_id}"/>
								<!-- 更新日 -->
								<input type="hidden" class="form-control" th:name="updated_at"
									th:value="${#dates.format(#dates.createNow(), 'yyyy/MM/dd')}"/>
							</td>
							
							<!-- 削除ボタン -->
							<td>
								<button id="delete-row" class="btn btn-danger" onclick="deleteRow(this)">削除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<input type="submit" th:href="@{/employee/registration/insert}" />
			</form>
		</div>
		</div>
	</div>
</body>
</html>