<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" defer></script>
<script th:src="@{/js/registration.js}" defer></script>
<!-- 
 -->
<title>社員登録</title>
</head>
<body>
	<div layout:fragment="content" class="container mt-3">
		<table class="table table-striped table-bordered table-hover"
			id="employee-list-table">
			<thead class="thead-light">
				<tr>
					<th class="th-width">社員番号</th>
					<th class="th-width">氏名</th>
					<th class="th-width">性別</th>
					<th class="th-width">電話番号</th>
					<th class="th-width">メールアドレス</th>
					<th class="th-width">入社年月日</th>
					<th class="th-width">&nbsp;</th>
					<th class="th-width">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${eAllList}">
					<td th:text="${item.employee_id}"></td>
					<td th:text="${item.employee_name}"></td>
					<td th:text="${item.gender == 1}? '男性': '女性'"></td>
					<td th:text="${item.employee_phone}"></td>
					<td th:text="${item.employee_email}"></td>
					<td th:text="${#dates.format(item.date_of_entry, 'yyyy/MM/dd')}"></td>
					<td class="text-center"><a th:href="@{/employee/ __${item.employee_id}__/edit}" class="btn btn-primary">編集</a></td>
					<td class="text-center">
						<form method="post" th:action="@{/employee/search/{id}/delete(id=${item.employee_id})}">
							<input type="submit" value="削除" name="delete"
         						class="btn btn-danger delete-btn"/>
         					<input type="hidden" name="employee_id" th:value="${item.employee_id}"/>
						</form>
       				</td>
				</tr>
			</tbody>
		</table>
		<!-- 新規複数登録 -->
		<div class="border-top mt-3">
			<h3 class="mt-3 mb-3">新規登録</h3>
			<button id="generate-row" class="btn btn-success">行新規</button>
			<button  id="regist" class="btn btn-primary" >登録</button>
			<form id="form" name="form" method="post" th:action="@{/employee/registration/rest}" th:object="${registrationForm}">
				<table class="table" id="r-table">
					<thead class="bg-color text-center">
						<tr>
							<th class="th-width">氏名</th>
							<th class="th-width">性別</th>
							<th class="th-width">電話番号</th>
							<th class="th-width">メールアドレス</th>
							<th class="th-width">入社年月日</th>
							<th class="th-width">&nbsp;</th>
						</tr>
					</thead>
					<tbody id="form-body">
						<tr id="form-row" th:each="employee,stat : *{employeeList}">
							<!-- 氏名 -->
							<td>
								<input type="text" class="form-control" th:field="*{employeeList[__${stat.index}__].employee_name}" 
									th:errorclass="is-invalid" required/>
	              				<div class="invalid-feedback" th:errors="*{employeeList[__${stat.index}__].employee_name}"></div>
							</td>
							
							<!-- 性別 -->
							<td>
								<select class="form-control" th:field="*{employeeList[__${stat.index}__].gender}">
									<option th:each="gender : ${genderMap}" th:value="${gender.value}"
										 th:inline="text" th:selected="${gender.value == value}">
										[[${gender.key}]]
									</option>
								</select>
							</td>
							
							<!-- 電話番号 -->
							<td>
								<input type="text"class="form-control" th:field="*{employeeList[__${stat.index}__].employee_phone}"
									 th:errorclass="is-invalid" required/>
	              				<div class="invalid-feedback" th:errors="*{employeeList[__${stat.index}__].employee_phone}"></div>
							</td>
							
							<!-- メールアドレス -->
							<td>
								<input type="text" class="form-control" th:field="*{employeeList[__${stat.index}__].employee_email}"
									 th:errorclass="is-invalid" required/>
		            			<div class="invalid-feedback" th:errors="*{employeeList[__${stat.index}__].employee_email}"></div>
							</td>
							
							<!-- 入社年月日 -->
							<td>
								<input type="text"class="form-control" th:field="*{employeeList[__${stat.index}__].date_of_entry}"
				              		 th:errorclass="is-invalid" placeholder="yyyy/MM/dd" required/>
					            <div class="invalid-feedback" th:errors="*{employeeList[__${stat.index}__].date_of_entry}"></div>
							</td>
							
							<!-- 削除ボタン -->
							<td>
								<button id="delete-row" class="btn btn-danger" onclick="deleteRow(this)">削除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<input type="hidden" name="password" value="password"/>
				<input type="submit" th:href="@{/employee/registration/insert}" />
			</form>
		</div>
	</div>
</body>
</html>