<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layout/layout}">
<head>
<title>部門別一覧</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-4 mb-5">
			<h1 class="heading mb-3">部門別一覧</h1>
			<div class="border border-3"></div>
			<table class="table table-striped table-bordered table-hover mt-4">
				<thead class="thead-light"  align="center">
					<tr>
						<th class="th-width">課番号</th>
						<th class="th-width">課名</th>
						<th class="th-width">合計売上</th>
						<th class="th-width">所属人数</th>
						<th class="th-width">1人あたりの売上平均値(小数点切捨)</th>
						<th class="th-width">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${dAllList}">
						<td align="center" th:text="${item.department_id}"></td>
						<td align="center" th:text="${item.department_name}"></td>
						<td align="right" th:text="${100000}"></td>
						<td align="right" th:text="${100}"></td>
						<td align="right" th:text="${10000}"></td>
						<td align="right" class="text-center"><a href="#" class="btn btn-primary">編集</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>