<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layout/layout}">
<head>
<title>部門別一覧</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-4 mb-5">
			<h1 class="heading mb-3">部門別一覧</h1>
			<div class="border border-3"></div>
			<table class="table table-striped table-bordered table-hover mt-4">
				<thead class="thead-light"  align="center">
					<tr>
						<th class="th-width" th:text="#{department_id}"></th>
						<th class="th-width" th:text="#{department_name}"></th>
						<th class="th-width" th:text="#{sum_sales}"></th>
						<th class="th-width" th:text="#{count_employee}"></th>
						<th class="th-width" th:text="#{avg_sales}"></th>
						<th class="th-width">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${departmentJoinMembersList}">							
						<td align="center" th:text="${item.department_id}"></td>
						<td align="center" th:text="${item.department_name}"></td>
						
						<!-- 所属人数0人の時の表示 -->
						<th:block th:if="${item.count_employee == 0}">
							<td align="center" th:text=" '-' "></td>
							<td align="center" th:text=" '0' "></td>
							<td align="center" th:text=" '-' "></td>
						</th:block>
									
						<!-- 所属人数1人以上の時の表示 -->		
						<th:block th:unless="${item.count_employee == 0}">
						
							<!-- 合計売上　100以上の場合はコンマ表示 -->
							<th:block th:if="${item.sum_sales > 100}">
								<td align="center" th:text=" '&yen;' + ${#numbers.formatInteger(item.sum_sales, 3, 'COMMA')}"></td>
							</th:block>
							<th:block th:unless="${item.sum_sales > 100}">
								<td align="center" th:text=" '&yen;' + ${item.sum_sales}"></td>
							</th:block>
							
							<!-- 所属人数 -->
							<td align="center" th:text="${item.count_employee}"></td>
							
							<!-- 売上平均　100以上の場合はコンマ表示 -->
							<th:block th:if="${item.avg_sales > 100}">
								<td align="center" th:text=" '&yen;' + ${#numbers.formatDecimal(item.avg_sales, 3, 'COMMA', 0, 'POINT')}"></td>
							</th:block>
							<th:block th:unless="${item.avg_sales > 100}">
								<td align="center" th:text=" '&yen;' + ${#numbers.formatDecimal(item.avg_sales, 0, 'COMMA', 0, 'POINT')}"></td>
							</th:block>
															
						</th:block>
						<td align="right" class="text-center"><a th:href="@{/members/{id}/membersList(id=${item.department_id})}" class="btn btn-primary">編集</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>